.articulo {
  padding-bottom: 2rem;
  background-image: linear-gradient(white, white, rgba(0, 0, 0, 0.349));
  border-top: solid 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 170px 1fr;
  grid-template-areas: "artTitle artTitle" "artParrafo artImg";
  justify-items: center;
  align-items: center;

  .artTitle {
    grid-area: artTitle;
  }

  .artParrafo {
    grid-area: artParrafo;
  }

  .artImg {
    grid-area: artImg;
    
  }

}

.articulo {
  h1 {
    margin: 40px;
    font-size: 26px;
  }

  p {
    display: flex;
    margin: 40px;
    padding: 20px;
    align-items: center;
  }

  img {
    width: 450px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);  
  }
}
