footer{
    border-top: solid 1px;
    padding: 20px;
    display: flex;
    background-color: rgb(248, 248, 248);
    align-items: center;
    justify-content: space-between;

    .ubicacion{
        display: block;

        .ubicacion h3{
            font-size: small;
            margin-bottom: 10px;
        }
        .ubicacion img{
            position: absolute;
            padding-top: 10px;
        }
        .ubicacion p{
            margin-left: 35px;
            padding: 10px;
        }

    }

    .redes img{
        width: 40px;
        height: 40px;

        margin: 1rem;
        object-fit: cover;
    }
}

