.locales{
    padding: 2rem;
    background-image: linear-gradient(white, white, rgba(0, 0, 0, 0.349));

    .l-title{
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .maps{
        display: flex;
        justify-content: center;
        gap: 4rem;
    }

}

