@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

$fontEncode: 'Encode Sans Expanded', sans-serif;

$mainColorT: rgb(60, 225, 200);
$mainColorM: rgb(255, 0, 255);
$mainColorY: rgb(255, 255, 0);
$mainColorG: rgb(128, 128, 128);

$colorPastelT: rgb(90, 180, 171);
$colorPastelM: rgb(230, 139, 230);
$colorPastelY: rgb(235, 235, 110);
$colorPastelG: rgb(146, 146, 146);